body{
  background: transparent !important;
}


body::before{
  content:"";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -2;

  background-image: url("images/sand.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body::after{
  content:"";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

  background: rgba(15, 15, 61, 0.10); 
}

.bar, .page{
  position: relative;
  z-index: 2;
}

body .grid-layer{
  display:none;
}
