:root {
  /* Color system */
  --bg-paper: #f6f0df;        /* White Chocolate */
  --ink-primary: #0b0a4a;     /* Dark Blue */
  --ink-secondary: #67637f;   /* Desaturated blue-gray */
  --accent-orange: #ff6433;  /* Portland Orange */
  --system-green: #b9d44c;   /* June Bud */

  --shadow-soft: rgba(0, 0, 0, 0.12);
}

/* reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  font-family: "IBM Plex Sans", system-ui, sans-serif;
  background: var(--ink-primary); /* 深蓝作为整体场 */
  color: var(--bg-paper);

  overflow: hidden; /* 像一个被限制的系统 */
}

.field {
  position: relative;
  width: 100vw;
  height: 100vh;
}



.fragment {
  position: absolute;
  max-width: 280px;

  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  line-height: 1.45;

  background: var(--bg-paper);
  color: var(--ink-primary);

  padding: 12px 14px;
  border-radius: 2px;

  text-decoration: none;

  box-shadow: 0 10px 18px rgba(103, 99, 127, 0.35);

  transform: translate(-50%, -50%);

  will-change: transform;
}


/* ===== Interaction ===== */
/* Orange appears ONLY on interaction */

.fragment:hover {
  background: var(--accent-orange);
  color: white;
  animation-play-state: paused;

}

.fragment:active {
  transform: translate(-50%, -50%) scale(0.97);
}

